 <h2 align="center"> Title: <%= @article.title %></h2>

<div class="card col-sm-8 offset-sm-2">
	<div align="center">
		<div>Created by:</div>
		<%= link_to gravatar_for(@article.user), user_path(@article.user) %>
		<div class="card-text"><%= link_to @article.user.username.capitalize, user_path(@article.user) %></div>
		<small><%= pluralize(@article.user.articles.count, "article") %></small>  
	</div>
	<div class="card-title"><strong>Description:</strong></h4>
	  <div class="card-body">
  		<%= simple_format(@article.description) %>
      </div>


<div class="article-actions">
	<% if logged_in? && current_user == @article.user %>  
		<%= link_to "Edit this article", edit_article_path(@article), class: "badge badge-primary" %>

		<%= link_to "Delete this article", article_path(@article), 			method: :delete, 
					data: { confirm: "Are you sure?" }, 
					class: "badge badge-danger" %>
	<% end %>

	<%= link_to "View all articles", articles_path, class: "badge badge-success" %>
</div>

</div>